/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h1 {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0;
}


/* Task Creation Form Styles */

.task-creation {
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
}

.left-column,
.right-column {
    flex: 1;
    padding: 5rem;
}

.left-column {
    border-right: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

input[type="text"],
textarea,
select,
input[type="date"],
input[type="file"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#add-assignee {
    float: right
}